<form class="example-form" >
  <mat-form-field class="example-full-width" >
    <input type="text" placeholder="Type to start searching" aria-label="Number" matInput [formControl]="myControl"  [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<button class="btn btn-warning" [disabled]="orderById" (click)="OrderByIdClick()" >Order By Id</button>
<button class="btn btn-info" [disabled]="orderByName" (click)="OrderByNameClick()" >Order By Name</button>
